apiVersion: apps/v1
kind: Deployment
metadata:
  name: flask-app
  namespace: flask-mongo
spec:
  replicas: 2
  selector:
    matchLabels:
      app: flask
  template:
    metadata:
      labels:
        app: flask
    spec:
      containers:
      - name: flask
        image: flask-mongodb-app:latest
        env:
        - name: MONGODB_URI
          value: "mongodb://aman178:password123@mongodb-service:27017/"
        resources:
          requests:
            memory: "250Mi"
            cpu: "200m"
          limits:
            memory: "500Mi"
            cpu: "500m"
        ports:
        - containerPort: 5000

